<meta charset="utf-8" />
<title></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" charset ="utf-8"></script>
<link rel="stylesheet" href="/css/app.css" />