        <nav>
            <ul id="nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/links">Contact</a></li>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/pastwork">Events</a></li>
                <li><a href="/history">History</a></li>
            </ul>
        </nav>
        <h1>Emon's Dim Sum Kingdom</h1>